.create-profile {
  input {
    width: 250px;
    padding: 6px 18px;

    font-size: 18px;
  }

  button {
    width: 250px;
    padding: 6px 18px;

    font-size: 18px;
    font-weight: 600;
  }

  button:hover {
    cursor: pointer;
  }
}