.account-small {
  max-width: 78px;
  padding: 4px 2px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  
  .account-wrapper {
    display: none;
  }

  .image-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    position: relative;

    img {
      width: 30px;
    }
  }

  .account-id {
    color: white;
    font-size: 14px;
    font-weight: 800;

    position: absolute;
    left: 15px;
  }
}